@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    height: 100%; /* Ensure html takes full height */
    background-color: black; /* Set the html background to black */
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure body takes up full viewport height */
    background-color: black; /* Set background color to black */
    color: #00FF41; /* Set text color to green */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #00FF41;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: green; /* Make links green */
}

a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.content {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    margin-bottom: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0.5rem 1rem;
}

.iframe-container {
    flex: 1;
    margin-bottom: 2rem;
    display: flex;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.back-link {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #4CAF50;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 768px) {
    .content {
        padding: 1rem;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 0.5rem 0;
    }
    .iframe-container {
        height: 50vh; /* Set a fixed height for smaller screens */
    }
}
